[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
matplotlib = "*"
seaborn = "*"
ipykernel = "*"
tensorflow = "*"
sklearn = "*"
black = "*"
opencv-python = "*"
tensorflow-datasets = "*"
nltk = "*"
pyjokes = "*"

[dev-packages]

[requires]
python_version = "3.9"
